<%-include('header')-%>

<h2>This is the about page</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolore incidunt iusto quod quis explicabo libero alias, accusantium esse deserunt iste voluptate temporibus quibusdam tempora at placeat ut praesentium maiores.
</p>


    <%-include('footer')-%>